body {
    background-image: url("backg.png");
    background-color: #cccccc;
}

.tops {
    margin-top: 20px;
}

.mainw {
    background: rgba(249, 249, 249, 0.90);

}

.logo-nav {
    display: block;
    width: 40%;
}
.span3 {
    height: 800px !important;
    overflow: scroll;
}

.imgright {
    float: right;
}

. jumbotron_h {
    height: 120px;
}

.imgvs {
    width: 25%;
}

img {
    width: 100%;
    height: auto;
}

.fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

.fa:hover {
        opacity: 0.7;
    }

.cent{
    text-align: center;
}

.cont_cent {
    align-content: center;
}

.navbar-brand {
    padding: 3px;
}

.navbar-brand > img {
        height: 25%;
        padding: 15px;
        width: auto;
    }

hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}